server:
  port: 8088

spring:
  application:
    name: guet-gateway

  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: dev
        group: dev

    gateway:
      routes:
        - id: consumer
          uri: lb://guet-consumerr
          predicates:
            - Path=/consumer/**
          filters:
            - StripPrefix=1  # 只保留去掉前缀的过滤器，删除PrefixPath
# http://localhost:8088/consumer/api/brand/query
# 最终转发到消费者服务lb://guet-consumerr/api/brand/query（即消费者的 http://localhost:9999/api/brand/query

  main:
    web-application-type: reactive